.pageFooter{
   display: flex;
   justify-content: center;
   align-items: flex-end;
  
   height: 200px;
   margin-top: 160px;
   padding-bottom: 18px;
   background: #141414;
}

.container{
   color:#FFFFFF;
}

@media only screen and (max-width: 1200px) {
   .pageFooter {
      margin-top: 80px;
   }
}