.conteiner {
   margin-top: 200px;
   font-family: 'Orchidea Pro';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
}

.conteiner h2 {
   margin-left: 260px;
   line-height: 130%;
   text-transform: uppercase;

   margin-bottom: 123px;
}


.content {
   display: flex;
   align-items: center;
   flex-flow: row wrap; 
   /* width: 1588px; */
   /* height: 480px; */
}

.contentTitle{
   margin-bottom: 25px;
   width: 600px;
   line-height: 110%;
}
.contentCard {
   width: 600px;
}

.contentText{
   width: 600px;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 130%;
}

.contentImg {
   width: 860px;
   height: 480px;
   margin-right: 128px;
   overflow: hidden;
}

@media only screen and (max-width: 1200px) {
   .contentImg{
      width: 100%;
      margin-right: 0;
   }
   .conteiner  {
      margin-bottom: 160px;
   }
}