.slider {
 margin-top: 160px;
 margin-bottom: 160px;
}

.slaiderBlock{
   height: 489px;
}

.title {
   margin-bottom: 123px;
   margin-left: 261px;

   font-family: 'Orchidea Pro';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 110%;
   text-transform: uppercase;

}

.img {
   width: 320px; 
   height: 489px;

   overflow: hidden;

   transform: scale(1.05);

   transition: transform 2s ease-in-out;
}

.img:hover {
   transform: scale(1.2);
   transition-duration: 7s;
}

.cardImg{
   width: 320px;
   height: 100%;

   margin-right: 40px;
}

.cardImg :first-child {
   margin-right: 261px;
}
.cardImg :last-child {
   margin-left: 261px;
}


@media (max-width: 1200px) {
   .slider {
      margin-bottom: 70px;
      margin-top: 70px;
     }
     .slaiderBlock {
     height:345px;
     }
     
   .cardImg{
      width: 226px
   }

   .img {
      width: 225.35px; 
      height: 344.29px;
   }
   
   .cardImg :first-child {
      margin-right: 20px;
   }
   .cardImg :last-child {
      margin-left: 20px;
   }

   .title {
      width: 200px;
      margin: 70px 20px 56px 20px;

      font-size: 24px;
      font-style: normal;
      line-height: 130%;

   }
 }

 


 @media (hover: none), (pointer:coarse), (-moz-touch-enabled: 1) {
   .scrollHorizontal {
       overflow: scroll !important;
       overflow: overlay !important;
       overflow-x: scroll !important;
       overflow-x: overlay !important;
       overflow-y: hidden !important;
       -ms-overflow-style: none !important;
       scrollbar-width: none !important;
   }
}
